@model ISP.GestaoMatriculas.Model.UserProfile

@{
    ViewBag.Title = "Activate";
}

<h2>Delete</h2>

<<<<<<< HEAD
<div class="well fuelux">
@using (Html.BeginForm("Activate", "Account", FormMethod.Post, new {@id = "AccountForm"})) {
    @Html.AntiForgeryToken()
<fieldset>
    <legend>Deseja ativar @Html.DisplayFor(model => model.UserName) ?</legend>
=======
<h4>@ViewBag.errorMessage</h4>

<h3>Are you sure you want to activate this user?</h3>
<fieldset>
    <legend>UserProfile</legend>
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entidade.nome)
    </div>
<<<<<<< HEAD
    <div class="display-label">
         @Html.DisplayNameFor(model => model.utilizadorAD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.utilizadorAD)
    </div>
</fieldset>
}
<input type="button" class="btn btn-primary" id="activateBtn" value="Ativar" onclick="javascript:document.getElementById('AccountForm').submit()"/>
</div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

=======
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Activate" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
