@model ISP.GestaoMatriculas.Models.EditUserModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<h4>@ViewBag.errorMessage</h4>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>@ViewBag.UserName</legend>

        <div class="editor-label">
            @Html.HiddenFor(model => model.UserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefone)
            @Html.ValidationMessageFor(model => model.telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.entidadeId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("entidadeId", (SelectList)ViewData["Entidades"])
            @Html.ValidationMessageFor(model => model.entidadeId)
        </div>
        <br />
        <legend>Alterar Password</legend>

         <div class="editor-label">
            @Html.LabelFor(model => model.newPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.newPassword)
            @Html.ValidationMessageFor(model => model.newPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmNewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmNewPassword)
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
        <br />
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
