@model IEnumerable<ISP.GestaoMatriculas.Model.UserProfile>

@{
    ViewBag.Title = "Utilizadores";
}

<h2>Utilizadores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.entidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.entidade.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            
            @if (item.ativo)
            {   
                @Html.ActionLink("Desativar", "Deactivate", new { id = item.UserId })
            }
            else
            {
                @Html.ActionLink("Ativar", "Activate", new { id = item.UserId })
            }
        </td>
    </tr>
}

</table>
