<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta charset="utf-8" />
    <title>ISP - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Enable Bootstrap Responsiveness -->
    <meta name="viewport" content="width=device-width" initial-scale=1.0 />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
<<<<<<< HEAD
    @Scripts.Render("~/bundles/monthpicker")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/myFuelux/css")
=======

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
    @Styles.Render("~/Fonts/Font-Awesome")

    @*FuelUx includes Bootstrap old version*@
    @*@Scripts.Render("~/bundles/fuelux")*@

    @RenderSection("css", required: false)
<<<<<<< HEAD
=======
    @RenderSection("scripts", required: false)
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</head>

<body>
    <div id="wrapper">
<header>
        @*@Html.Partial("_MenuPartial")*@

</header>
        @{Html.RenderAction("Index", "Menu");}

<<<<<<< HEAD
        <div id="body" class="container" style="margin-top:100px">
            @Html.Partial("_SKAlerts")
            <div id="page-wrapper">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>

        <hr />
        <div id="footer" class="container">
            <p>Autoridade de Supervisão de Seguros e Fundos de Pensões - Instituto de Seguros de Portugal</p>
        </div>
    </div>
        @RenderSection("scripts", required: false)
=======
        <div id="body" class="container">
        <div id="page-wrapper">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>
        </div>

        <hr />
        <div id="footer">
            <p>footer here</p>
        </div>
    </div>
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</div>
</body>
</html>

