@model ISP.GestaoMatriculas.Model.Notificacao

@{
    ViewBag.Title = "Details";
}

<<<<<<< HEAD
<h2>Detalhes de notificação</h2>

<div class="well fuelux">
=======
<h2>Details</h2>

>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
<fieldset>
    <legend>Notificacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entidade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entidade.nome)
    </div>
<<<<<<< HEAD
    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipologia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipologia.descricao)
=======
        <div class="display-label">
         @Html.DisplayNameFor(model => model.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipo)
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataCriacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataCriacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mensagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mensagem)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.lida)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lida)
    </div>
</fieldset>
<<<<<<< HEAD
</div>

<p>
    @Html.ActionLink("Voltar à listagem", "Index")
=======
<p>
    @Html.ActionLink("Back to List", "Index")
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</p>
