@model IEnumerable<ISP.GestaoMatriculas.Model.Notificacao>

@{
    ViewBag.Title = "Notificações";
}

<h2>Notificações</h2>

<<<<<<< HEAD
@if (!User.IsInRole("Seguradora"))
{ 
<div class ="well fuelux">
@using (Html.BeginForm("Index", "Notificacoes", FormMethod.Get, new { @id = "ListingForm" }))
{
<table>
		<div class="editor-label">
        <tr>
        
            <th>
                @Html.LabelFor(model => model.First().entidade)
            </th>
        
        </tr>
        </div>
        <div class="editor-field">
        <tr>
            <td>
                @Html.DropDownList("entidade", (SelectList)ViewData["Entidades"])
            </td>
        <td>
            <input type="submit" class="btn" id="FiltrarBtn" value="Filtrar"/>
        </td>
        </tr>
        </div>
</table>

}
</div>
}
<div class="well fuelux">
@if (!User.IsInRole("ISP-Leitura"))
{
    <input type="button" class="btn btn-primary" id="novaNotificacaoBtn" value="Criar Notificação" onclick="window.location.href='@Url.Content("~/Notificacoes/Create")'"/>
}
<table class="table table-striped table-hover">
    <thead>
=======
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.entidade)
        </th>
        <th>
<<<<<<< HEAD
            @Html.DisplayNameFor(model => model.tipologia)
=======
            @Html.DisplayNameFor(model => model.tipo)
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mensagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataCriacao)
        </th>
        <th></th>
    </tr>
<<<<<<< HEAD
    </thead>

    <tbody>
@foreach (var item in Model)
{    
=======

@foreach (var item in Model) {
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.entidade.nome)
        </td>
        <td>
<<<<<<< HEAD
            @Html.DisplayFor(modelItem => item.tipologia.descricao)
=======
            @Html.DisplayFor(modelItem => item.tipo)
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mensagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataCriacao)
        </td>
        <td>
<<<<<<< HEAD
            @Html.ActionLink("Detalhe", "Details", new { id = item.notificacaoId })
        </td>
    </tr>
    
}
</tbody>
</table>
</div>
=======
            @Html.ActionLink("Details", "Details", new { id=item.notificacaoId })
        </td>
    </tr>
}

</table>
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
