@model ISP.GestaoMatriculas.Model.ApoliceHistorico

@{
<<<<<<< HEAD
    ViewBag.Title = "Detalhes de Histórico " + @Html.DisplayFor(model => model.numeroApolice) + " " + @Html.DisplayFor(model => model.veiculo.numeroMatricula);
}

@section css{
   @Styles.Render("~/Content/myWizardFuelux/css")
}

@section scripts{    

        @Scripts.Render("~/bundles/myWizardFuelux");

        <script type='text/javascript'>

            $(document).ready(function () {
                $('#rootwizard').bootstrapWizard({
                    tabClass: 'steps'
                });
            });

        </script>
}

<h2>Detalhes de Histórico @Html.DisplayFor(model => model.numeroApolice)</h2>
<h4>(@Html.DisplayFor(model => model.veiculo.numeroMatricula), 
@Html.DisplayFor(model => model.entidade.nome), @Html.DisplayFor(model => model.dataInicio))</h4>


<fieldset>

<div id="rootwizard" class ="well fuelux">
	  <div class="wizard">
	<ul class="steps">
	  	<a href="#periodo" data-toggle="tab"><li class="complete active"><span class="badge badge-info">1</span> Período Seguro <span class="chevron"> </span></li></a>
		<a href="#veiculo" data-toggle="tab"><li class="complete"><span class="badge badge-success">2</span> Veículo <span class="chevron"> </span></li></a>
		<a href="#tomador" data-toggle="tab"><li class="complete"><span class="badge badge-success">3</span> Tomador de Seguro<span class="chevron"> </span></li></a>
	</ul>
	</div>

    	<div class="tab-content">
	    <div class="tab-pane" id="periodo">
            <legend>Período Seguro</legend>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.numeroApolice)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.numeroApolice)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dataInicio)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dataInicio)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dataFim)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dataFim)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.numeroCertificadoProvisorio)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.numeroCertificadoProvisorio)
            </div>
            <legend>Dados de Controlo</legend>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.eventoHistorico.codigoOperacao)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.eventoHistorico.codigoOperacao.descricao)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dataReporte)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dataReporte)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.utilizadorReporte)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.utilizadorReporte)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dataFimPlaneada)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dataFimPlaneada)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.SLA)
            </div>
            <div class="display-field">
                <span>@Html.DisplayFor(model => model.SLA.Days)</span> Dias 
                <span>@Html.DisplayFor(model => model.SLA.Hours)</span> Horas
                <span>@Html.DisplayFor(model => model.SLA.Minutes)</span> Minutos
                <span>@Html.DisplayFor(model => model.SLA.Seconds)</span> Segundos
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.dataArquivo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.dataArquivo)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.utilizadorArquivo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.utilizadorArquivo)
            </div>
        </div>
        <div class="tab-pane" id="veiculo">
        <legend>Veículo</legend>
        
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.veiculo.numeroMatricula)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.veiculo.numeroMatricula)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.veiculo.categoria)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.veiculo.categoria.nome)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.veiculo.marcaVeiculo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.veiculo.marcaVeiculo)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.veiculo.modeloVeiculo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.veiculo.modeloVeiculo)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.veiculo.anoConstrucao)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.veiculo.anoConstrucao)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.concelho)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.concelho.nomeConcelho)
            </div>
        </div>
        <div class="tab-pane" id="tomador">
            <legend>Tomador do Seguro</legend>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.tomador.nome)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.tomador.nome)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.tomador.numeroIdentificacao)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.tomador.numeroIdentificacao)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.tomador.nif)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.tomador.nif)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.tomador.morada)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.tomador.morada)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.tomador.codigoPostal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.tomador.codigoPostal)
            </div>
        </div>
        <div class="wizard-buttons">
			@*<li class="previous first" style="display:none;"><a href="#">Primeiro</a></li>*@
			<li class="previous d"><a href="#">Anterior</a></li>
			@*<li class="next last" style="display:none;"><a href="#">Último</a></li>*@
		  	<li class="next d"><a href="#">Próximo</a></li>
		</div>
    </div>
=======
    ViewBag.Title = "DetalhesHistorico";
}

@section css{
    @Styles.Render("~/Content/fuelux/css")
}
<h2>Details</h2>

<fieldset>
<div class="well wizard-example fuelux">
  <div id="MyWizard" class="wizard">
    <ul class="steps">
      <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Período Segurado<span class="chevron"></span></li>
      <li data-target="#step2" class="complete"><span class="badge badge-success">2</span>Veículo<span class="chevron"></span></li>
      <li data-target="#step3" class="complete"><span class="badge badge-success">3</span>Tomador do Seguro<span class="chevron"></span></li>
      <li data-target="#step4" class="complete"><span class="badge badge-success">4</span>Condutor habitual<span class="chevron"></span></li>
      <li data-target="#step5" class="complete"><span class="badge badge-success">5</span>Undefined<span class="chevron"></span></li>
    </ul>
@*    <div class="actions">
      <button class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
      <button class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
    </div>*@
  </div>

  <div class="step-content">
    <div class="step-pane active" id="step1">

    <legend>Período Segurado</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.numeroApolice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numeroApolice)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataFim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataFim)
    </div>

    </div>

    <div class="step-pane" id="step2">

        <legend>Veículo</legend>
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.veiculo.numeroMatricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.veiculo.numeroMatricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.veiculo.categoria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.veiculo.categoria.nome)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.veiculo.marcaVeiculo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.veiculo.marcaVeiculo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.veiculo.modeloVeiculo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.veiculo.modeloVeiculo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.veiculo.anoConstrucao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.veiculo.anoConstrucao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.concelho)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.concelho.nomeConcelho)
    </div>

    </div>

    <div class="step-pane" id="step3">
    
    <legend>Tomador do Seguro</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tomador.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tomador.nome)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.tomador.numeroIdentificacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tomador.numeroIdentificacao)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.tomador.nif)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tomador.nif)
    </div>

    </div>

    <div class="step-pane" id="step4">

    <legend>Condutor Habitual</legend>

    </div>

    <div class="step-pane" id="step5">

    <legend>Undefined</legend>

    </div>
    </div>
      <input type="button" class="btn" id="btnWizardPrev" value="Anterior">
      <input type="button" class="btn btn-primary" id="btnWizardNext" value="Próximo">
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</fieldset>

<p>
    <a href="javascript:history.go(-1);">Voltar</a>
</p>
