@model ISP.GestaoMatriculas.ViewModels.ApoliceDetailsViewModel

@{
<<<<<<< HEAD
    ViewBag.Title = "Detalhes " + @Html.DisplayFor(model => model.apolice.numeroApolice) + " " + @Html.DisplayFor(model => model.apolice.veiculo.numeroMatricula);
}

@section css{
        @Styles.Render("~/Content/myWizardFuelux/css")
}

@section scripts{    

        @Scripts.Render("~/bundles/myWizardFuelux");

=======
    ViewBag.Title = "Details";
}

@section css{
    @Styles.Render("~/Content/fuelux/css")
}

@section scripts{
            
    @*@Scripts.Render("~/bundles/fuelux")*@
        
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
        <script type='text/javascript'>

            $(function () {
                $('#tabs a:first').tab('show')
            });

            $(document).ready(function () {
<<<<<<< HEAD
                $('#rootwizard').bootstrapWizard({
                    tabClass: 'steps'
                });
            });

        </script>
}

<h2>Detalhes @Html.DisplayFor(model => model.apolice.numeroApolice)</h2>
<h4>(@Html.DisplayFor(model => model.apolice.veiculo.numeroMatricula), 
@Html.DisplayFor(model => model.apolice.entidade.nome), @Html.DisplayFor(model => model.apolice.dataInicio))</h4>

<ul id="tabs" class="nav nav-tabs">
  <li><a href="#detalhesTab" data-toggle="tab">Detalhes</a></li>
  <li><a href="#historicoTab" data-toggle="tab">Histórico 
  @if (Model.historicoApolices.Count() > 0)
  {
      <span class="badge badge-info">@Model.historicoApolices.Count()</span>
  }
      </a></li>
  <li><a href="#avisosTab" data-toggle="tab">Avisos 
  @if (Model.apolice.avisosApolice.Count > 0)
  {
      <span class="badge badge-warning">@Model.apolice.avisosApolice.Count</span>
  }</a></li>
=======

                var $wizard = $('#MyWizard').wizard();
                var wizard = $wizard.data('wizard');
                $wizard.off('click', 'li.complete');
                $wizard.on('click', 'li', $.proxy(wizard.stepclicked, wizard));

                $('#MyWizard').on('change', function (e, data) {
                });

                $('#MyWizard').on('changed', function (e, data) {
                    //                    console.log('changed');

                    $("#MyWizard ul.steps").find("li").addClass("complete");
                    $("#MyWizard ul.steps").find("span.badge").addClass("badge-success");

                    var item = $('#MyWizard').wizard('selectedItem');
                    //console.log(item.step);
                    if (item.step === 5) {
                        $('#btnWizardNext').hide(); ;
                    }
                    else {
                        $('#btnWizardNext').show(); ;
                    }

                });
                $('#MyWizard').on('finished', function (e, data) {
                    //                    console.log('finished');
                });
                $('#btnWizardPrev').on('click', function () {
                    $('#MyWizard').wizard('previous');
                });
                $('#btnWizardNext').on('click', function () {
                    $('#MyWizard').wizard('next', 'foo');
                });
                $('#btnWizardStep').on('click', function () {
                    var item = $('#MyWizard').wizard('selectedItem');
                    //                    console.log(item.step);
                });
                $('#MyWizard').on('stepclick', function (e, data) {
                    //                    console.log('step' + data.step + ' clicked');
                    if (data.step === 1) {
                        // return e.preventDefault();
                    }
                });
            });
        
        </script>
}

<h2>Details</h2>

<ul id="tabs" class="nav nav-tabs">
  <li><a href="#detalhesTab" data-toggle="tab">Detalhes</a></li>
  <li><a href="#historicoTab" data-toggle="tab">Histórico</a></li>
  <li><a href="#avisosTab" data-toggle="tab">Avisos</a></li>
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</ul>

<div class="tab-content">

<div class="tab-pane active" id="detalhesTab">

<fieldset>
<<<<<<< HEAD
<div id="rootwizard" class ="well fuelux">
	  <div class="wizard">
	<ul class="steps">
	  	<a href="#periodo" data-toggle="tab"><li class="complete active"><span class="badge badge-info">1</span> Período Seguro <span class="chevron"> </span></li></a>
		<a href="#veiculo" data-toggle="tab"><li class="complete"><span class="badge badge-success">2</span> Veículo <span class="chevron"> </span></li></a>
		<a href="#tomador" data-toggle="tab"><li class="complete"><span class="badge badge-success">3</span> Tomador de Seguro<span class="chevron"> </span></li></a>
	</ul>
	</div>

    	<div class="tab-content">
	    <div class="tab-pane" id="periodo">
            <legend>Período Seguro</legend>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.numeroApolice)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.numeroApolice)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.dataInicio)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.dataInicio)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.dataFim)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.dataFim)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.numeroCertificadoProvisorio)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.numeroCertificadoProvisorio)
            </div>
            <legend>Dados de Controlo</legend>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.eventoHistorico.codigoOperacao)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.eventoHistorico.codigoOperacao.descricao)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.dataReporte)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.dataReporte)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.utilizadorReporte)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.utilizadorReporte)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.dataFimPlaneada)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.dataFimPlaneada)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.SLA)
            </div>
            <div class="display-field">
                <span>@Html.DisplayFor(model => model.apolice.SLA.Days)</span> Dias 
                <span>@Html.DisplayFor(model => model.apolice.SLA.Hours)</span> Horas
                <span>@Html.DisplayFor(model => model.apolice.SLA.Minutes)</span> Minutos
                <span>@Html.DisplayFor(model => model.apolice.SLA.Seconds)</span> Segundos
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.dataRegisto)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.dataRegisto)
            </div>
        </div>
        <div class="tab-pane" id="veiculo">
            <legend>Veículo</legend>       
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.veiculo.numeroMatricula)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.veiculo.numeroMatricula)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.veiculo.categoria)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.veiculo.categoria.nome)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.veiculo.marcaVeiculo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.veiculo.marcaVeiculo)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.veiculo.modeloVeiculo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.veiculo.modeloVeiculo)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.veiculo.anoConstrucao)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.veiculo.anoConstrucao)
            </div>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.concelho)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.concelho.nomeConcelho)
            </div>
        </div>
        <div class="tab-pane" id="tomador">
            <legend>Tomador do Seguro</legend>

            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.tomador.nome)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.tomador.nome)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.tomador.numeroIdentificacao)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.tomador.numeroIdentificacao)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.tomador.nif)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.tomador.nif)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.tomador.morada)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.tomador.morada)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.apolice.tomador.codigoPostal)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.apolice.tomador.codigoPostal)
            </div>
        </div>
        <div class="wizard-buttons">
			@*<li class="previous first" style="display:none;"><a href="#">Primeiro</a></li>*@
			<li class="previous d"><a href="#">Anterior</a></li>
			@*<li class="next last" style="display:none;"><a href="#">Último</a></li>*@
		  	<li class="next d"><a href="#">Próximo</a></li>
		</div>
    </div>
=======
<div class="well wizard-example fuelux">
  <div id="MyWizard" class="wizard">
    <ul class="steps">
      <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Período Segurado<span class="chevron"></span></li>
      <li data-target="#step2" class="complete"><span class="badge badge-success">2</span>Veículo<span class="chevron"></span></li>
      <li data-target="#step3" class="complete"><span class="badge badge-success">3</span>Tomador do Seguro<span class="chevron"></span></li>
      <li data-target="#step4" class="complete"><span class="badge badge-success">4</span>Condutor habitual<span class="chevron"></span></li>
      <li data-target="#step5" class="complete"><span class="badge badge-success">5</span>Undefined<span class="chevron"></span></li>
    </ul>
@*    <div class="actions">
      <button class="btn btn-mini btn-prev"> <i class="icon-arrow-left"></i>Prev</button>
      <button class="btn btn-mini btn-next" data-last="Finish">Next<i class="icon-arrow-right"></i></button>
    </div>*@
  </div>

  <div class="step-content">
    <div class="step-pane active" id="step1">

    <legend>Período Segurado</legend>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.numeroApolice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.numeroApolice)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.dataInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.dataInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.dataFim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.dataFim)
    </div>

    </div>

    <div class="step-pane" id="step2">

        <legend>Veículo</legend>
        
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.veiculo.numeroMatricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.veiculo.numeroMatricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.veiculo.categoria)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.veiculo.categoria.nome)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.veiculo.marcaVeiculo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.veiculo.marcaVeiculo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.veiculo.modeloVeiculo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.veiculo.modeloVeiculo)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.veiculo.anoConstrucao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.veiculo.anoConstrucao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.concelho)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.concelho.nomeConcelho)
    </div>

    </div>

    <div class="step-pane" id="step3">
    
    <legend>Tomador do Seguro</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.tomador.nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.tomador.nome)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.tomador.numeroIdentificacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.tomador.numeroIdentificacao)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.apolice.tomador.nif)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apolice.tomador.nif)
    </div>

    </div>

    <div class="step-pane" id="step4">

    <legend>Condutor Habitual</legend>

    </div>

    <div class="step-pane" id="step5">

    <legend>Undefined</legend>

    </div>
    </div>
      <input type="button" class="btn" id="btnWizardPrev" value="Anterior">
      <input type="button" class="btn btn-primary" id="btnWizardNext" value="Próximo">
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</fieldset>
</div>
<div class="tab-pane" id="historicoTab">
    <div class="well">
        @if (Model.historicoApolices.Count() != 0)
        { 
<<<<<<< HEAD
        <table class="table table-striped table-hover table-mega-condensed" >
        <thead>
=======
        <table>
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.historicoApolices.First().entidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.historicoApolices.First().numeroApolice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.historicoApolices.First().dataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.historicoApolices.First().dataFim)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.historicoApolices.First().veiculo.numeroMatricula)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.historicoApolices.First().tomador.nome)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.historicoApolices.First().concelho)
        </th>
        <th></th>
    </tr>
<<<<<<< HEAD
    </thead>
    <tbody>
=======

>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
@foreach (var item in Model.historicoApolices)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.entidade.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroApolice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dataFim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.veiculo.numeroMatricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tomador.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.concelho.nomeConcelho)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "DetalhesHistorico", new { id = item.apoliceId })
        </td>
    </tr>
}
<<<<<<< HEAD
</tbody>
=======

>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</table>
        }
        else { 
        <div>Não existe histórico.</div>
        }
    </div>
</div>
<div class="tab-pane" id="avisosTab">
    <div class="well">
<<<<<<< HEAD
        @if (Model.apolice.avisosApolice.Count() != 0)
        { 
        <table class="table table-striped table-hover table-mega-condensed" >
        <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.apolice.avisosApolice.First().campo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apolice.avisosApolice.First().descricao)
        </th>        
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.apolice.avisosApolice)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.campo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
            </tr>
        }
        </tbody>
        </table>
        }
        else { 
            <div>Não existem avisos.</div>
        }
=======
        Avisos
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
    </div>
</div>
</div>
<p>
<<<<<<< HEAD
    @Html.ActionLink("Voltar à listagem", "Index")
    @if(!User.IsInRole("ISP-Leitura")){
       <span> | 
       @Html.ActionLink("Editar", "Edit", new { id = Model.apolice.apoliceId })
       </span>
    }
=======
    @Html.ActionLink("Voltar à listagem", "Index") | 
    @Html.ActionLink("Editar", "Edit", new { id = Model.apolice.apoliceId })
>>>>>>> 6bef4ea7199f182f1dcc5a1156a157494ff9f29c
</p>
