@model ISP.GestaoMatriculas.Model.ApoliceIsento

@{
    ViewBag.Title = "Arquivar Isento " + Html.DisplayFor(model => model.matricula);
}

<h2>Arquivar Isento @Html.DisplayFor(model => model.matricula)</h2>
<h4>(@Html.DisplayFor(model => model.entidadeResponsavel), 
    @Html.DisplayFor(model => model.matricula))</h4>

<div class="fuelux well">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<fieldset>
    <legend>Período Seguro</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.matricula)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.matricula)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.entidadeResponsavel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.entidadeResponsavel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mensagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mensagem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataInicio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataFim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataFim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.confidencial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.confidencial)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataReporte)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataReporte)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dataModificacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dataModificacao)
    </div>
</fieldset>
    <br />
  <input type="submit" class="btn btn-primary" value="Arquivar" />
}
</div>
    <p>
        @Html.ActionLink("Voltar à listagem", "Index")
    </p>
