@model ISP.GestaoMatriculas.Model.Entidade

@{
    ViewBag.Title = "Create";
}


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Entidade</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nome)
            @Html.ValidationMessageFor(model => model.nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nomeResponsavel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nomeResponsavel)
            @Html.ValidationMessageFor(model => model.nomeResponsavel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.emailResponsavel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.emailResponsavel)
            @Html.ValidationMessageFor(model => model.emailResponsavel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefoneResponsavel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefoneResponsavel)
            @Html.ValidationMessageFor(model => model.telefoneResponsavel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.scope)
        </div>
        <div class="editor-field">
            @Html.DropDownList("scope", String.Empty)
            @Html.ValidationMessageFor(model => model.scope)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.role)
        </div>
        <div class="editor-field">
            @Html.DropDownList("roleId", String.Empty)
            @Html.ValidationMessageFor(model => model.roleId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ativo)
        </div>
        <div class="editor-field">
            @Html.CheckBox("ativo", (bool)ViewBag.ativo)
            @Html.ValidationMessageFor(model => model.ativo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
